$g-sprite = 0px 0px 0px 0px 1962px 1075px 3218px 1649px 'sprite.png';
$g-va2 = 0px 1075px 0px -1075px 706px 574px 3218px 1649px 'sprite.png';
$g-var1 = 1962px 0px -1962px 0px 1256px 1075px 3218px 1649px 'sprite.png';

spriteWidth($sprite)
    width $sprite[4]

spriteHeight($sprite)
    height $sprite[5]

spritePosition($sprite)
    background-position $sprite[2] $sprite[3]

spriteImage($sprite)
    background-image url(../img/bg/$sprite[8])

sprite($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)